mysmarthome.txt
[{"id":"3bc39c6.4cb4964","type":"ui_switch","z":"4cbef12.5eca21","name":"","label":"switch","group":"da2d4c58.6194d","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"led","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":196,"y":197,"wires":[["f12f9e0f.0e848","205e918c.ad381e"]]},{"id":"f12f9e0f.0e848","type":"rpi-gpio out","z":"4cbef12.5eca21","name":"pin16","pin":"16","set":"","level":"0","out":"out","x":619,"y":199,"wires":[]},{"id":"525cb69e.15f368","type":"ui_toast","z":"4cbef12.5eca21","position":"top right","displayTime":"1","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":622,"y":118,"wires":[]},{"id":"205e918c.ad381e","type":"function","z":"4cbef12.5eca21","name":"","func":"var val= {payload:msg.payload};\n\nif(msg.payload==1)\n{\n    val.payload=\"Light is On\";\n    return val;\n}\nelse\n{\n    val.payload=\"Light is Off\";\n    return val;\n}","outputs":1,"noerr":0,"x":369,"y":139,"wires":[["525cb69e.15f368"]]},{"id":"65fc7dba.f2fb44","type":"ui_switch","z":"4cbef12.5eca21","name":"","label":"switch","group":"96991fcd.f0c4d","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"led1","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":193,"y":383,"wires":[["b5f52144.0ed96","bf943105.45d9b"]]},{"id":"b5f52144.0ed96","type":"rpi-gpio out","z":"4cbef12.5eca21","name":"","pin":"18","set":"","level":"0","out":"out","x":620,"y":391,"wires":[]},{"id":"bf943105.45d9b","type":"function","z":"4cbef12.5eca21","name":"","func":"var val= {payload:msg.payload};\n\nif(msg.payload==1)\n{\n    val.payload=\"Light is On\";\n    return val;\n}\nelse\n{\n    val.payload=\"Light is Off\";\n    return val;\n}","outputs":1,"noerr":0,"x":375,"y":332,"wires":[["50e2497b.5b91c8"]]},{"id":"50e2497b.5b91c8","type":"ui_toast","z":"4cbef12.5eca21","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":599,"y":310,"wires":[]},{"id":"2575d72d.184ab8","type":"ui_slider","z":"4cbef12.5eca21","name":"","label":"slider","group":"3b90526f.2553ce","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"100","step":1,"x":181,"y":559,"wires":[["9a1366b2.522958","362afe43.fa5a42"]]},{"id":"9a1366b2.522958","type":"rpi-gpio out","z":"4cbef12.5eca21","name":"","pin":"18","set":"","level":"0","out":"pwm","x":622,"y":568,"wires":[]},{"id":"362afe43.fa5a42","type":"ui_gauge","z":"4cbef12.5eca21","name":"","group":"3b90526f.2553ce","order":0,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":606,"y":517,"wires":[]},{"id":"a5611064.fbf858","type":"rpi-gpio out","z":"4cbef12.5eca21","name":"pin22D","pin":"22","set":"","level":"0","out":"out","x":631.5,"y":767,"wires":[]},{"id":"f04e9c0b.2adcb8","type":"rpi-gpio out","z":"4cbef12.5eca21","name":"pin32P","pin":"32","set":"","level":"0","out":"pwm","x":626.5,"y":717,"wires":[]},{"id":"223fb1c5.327f0e","type":"ui_switch","z":"4cbef12.5eca21","name":"","label":"switch","group":"96991fcd.f0c4d","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":218.5,"y":773,"wires":[["a5611064.fbf858"]]},{"id":"f55bceb2.09ef08","type":"ui_slider","z":"4cbef12.5eca21","name":"","label":"slider","group":"96991fcd.f0c4d","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"100","step":1,"x":195.5,"y":702,"wires":[["f04e9c0b.2adcb8","c3e86d7f.04d468"]]},{"id":"c3e86d7f.04d468","type":"ui_gauge","z":"4cbef12.5eca21","name":"","group":"96991fcd.f0c4d","order":0,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":602.5,"y":664,"wires":[]},{"id":"da2d4c58.6194d","type":"ui_group","z":"","name":"sw","tab":"b623f0cc.10816","disp":true,"width":"6"},{"id":"96991fcd.f0c4d","type":"ui_group","z":"","name":"Switch","tab":"7a889fdd.70615","disp":true,"width":"6"},{"id":"3b90526f.2553ce","type":"ui_group","name":"Group","tab":"7a889fdd.70615","order":null,"disp":true,"width":6},{"id":"b623f0cc.10816","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"7a889fdd.70615","type":"ui_tab","z":"","name":"Kitchen","icon":"dashboard","order":0}]